# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
 //定义一个快递包裹类 Package，并由此派生出普通包裹类和加急包裹类。
要求：
（1）Package 类应包含寄件人和收件人姓名、地址和包裹重量属性，按重量*10 计费。
（2）普通包裹增加首重计费和超首重后部分的的每公斤计费单价属性，按首重+超重*每公斤计费单价计算总费用。
（3）加急包裹没 有首重限制，但有加急起价费用属性，按加急起价费+重量*10+加急公里数*0.02 计算总费用。 
（4）为每个类添加 calculateCost 计算快递费用方法。编写测试程序，创建每种包裹类的对象并测试 calculateCost 方法。//

